/* colors */
$textColor: black;
$headerColor: #00e5ff;
$white:white;
$bgc1: #2b3139;
$bgc2: #000000;
$buttonColor: #3fd4fd;
$buttonRadius:10px;
$buttonPadding:10px;
$bgcContent:#1d2126;
$heroColor: rgb(3, 203, 248);
/* text size */
$textSize: 1.2rem;
$headerSize: 2rem;
/* font fize */
$fontFamily: arial,tahoma;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
